/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;900&display=swap');

/* Variables */

:root {
    --gold: #F6A600;
    --tiger: #F65E00;
    --ruby: #F60065;
    --eggplant: #5B3985;
    --charcoal: #343A40;
    --anchor: #73868C;
    --pewter: #B7C5C4;
    --pearl: #ECEEED;
}

/* Wordpress */

.wp-post-image {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
    display: block;
    border-radius: 1em;
    margin-bottom: 1em;
}
.post-thumbnail {
    display: block;
    pointer-events: none;
}
.entry-header {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1;
}
.entry-content {
    margin: 0;
}

/* General */

body {
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--charcoal);
}

a {
    color: var(--charcoal);
    text-decoration: none;
}

/* Button */

button {
    font-size: 20px;
    font-weight: 900;
    color: var(--charcoal);
    padding: 20px 26px;
    border: none;
    background-color: var(--gold);
    border-radius: .5em;
    box-shadow: .5em .5em 0 var(--charcoal);
    transition: 0.3s;
}
button:hover {
    transform: translate(-.25em, -.25em);
    box-shadow: 0.75em 0.75em 0 var(--charcoal);
}

/* Card */

.card {
    padding: 2em;
    border-radius: 20px;
    background-color: white;
    transition: 0.3s;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow:
    0 6px 4px 0 rgba(0,0,0,0.05),
    0 14px 12px 0 rgba(0,0,0,0.05),
    0 24px 20px 0 rgba(0,0,0,0.05),
    0 48px 32px -8px rgba(0,0,0,0.05),
    0 88px 64px -16px rgba(0,0,0,0.05);
}

/* Container */

.container {
    max-width: 1380px;
    margin: 0 auto;
}

/* Header */

.site-header {
    padding: 2em;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
    width: 20em;
}
.language-select {
    display: block;
    width: 20em;
    text-align: right;
}

/* Menu */

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-item {
    margin: 0 10px;
    text-transform: lowercase;
    font-weight: 900;
    text-align: center;
}
.menu-item:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: .5em;
    height: .5em;
    margin-top: .5em;
    border-radius: .5em;
    background-color: var(--gold);
    opacity: 0;
    transition: 0.3s;
}
.menu-item:hover:after {
    opacity: 1;
}

/* Text */

.text-highlight {
    color: var(--gold);
    font-weight: 900;
}
.text-underline {
    text-decoration: underline;
}
.text-block {
    max-width: 45em;
    /* max-width: 50em; */
}

/* Hero */

.hero {
    padding-bottom: 4em;
}
.hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-text {
    max-width: 35em;
}
.hero-title {
    font-size: 88px;
    line-height: 1;
    text-transform: lowercase;
}
.hero-description {
    font-size: 2rem;
    font-weight: 600;
}
.hero-image {
    position: relative;
}
.hero-image img {
    max-width: 800px!important;
    max-height: 800px!important;
}
.hero-image:before {
    content: url(../assets/play-icon.svg);
    width: 186px;
    height: 186px;
    top: 8em;
    left: 4em;
    position: absolute;
    transition: 0.3s;
}
.hero-image:hover:before {
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    to {
      transform: rotate(359deg); /* some browsers don't display spin when it is 360 deg */
    }
  }
  @keyframes rotate-rev {
    to {
      transform: rotate(-359deg); /* reverse direction rotate */
    }
  }

/* Section */

.section-inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.section-title {
    font-size: 72px;
    line-height: 1;
    text-transform: lowercase;
    margin: 0;
}
.section-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.75;
    margin-top: 2em;
}

/* Intro */

.intro {
    background-color: var(--charcoal);
    color: white;
    padding: 8em 0;
}

.intro video {
    max-width: 75%;
    border-radius: 1em;
    margin-left: -25vw;
    box-shadow:
    0 6px 4px 0 rgba(0,0,0,0.1),
    0 14px 12px 0 rgba(0,0,0,0.1),
    0 24px 20px 0 rgba(0,0,0,0.1),
    0 48px 32px -8px rgba(0,0,0,0.1),
    0 88px 64px -16px rgba(0,0,0,0.1);
}

/* Services */

.services {
    padding: 8em 0;
}
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3.5em 2em;
    margin-top: 2em;
}

/* About */

.about {
    background-color: var(--gold);
    color: var(--charcoal);
    padding: 8em 0;
}

.about video {
    max-width: 75%;
    border-radius: 1em;
    margin-right: -25vw;
    box-shadow:
    0 6px 4px 0 rgba(0,0,0,0.1),
    0 14px 12px 0 rgba(0,0,0,0.1),
    0 24px 20px 0 rgba(0,0,0,0.1),
    0 48px 32px -8px rgba(0,0,0,0.1),
    0 88px 64px -16px rgba(0,0,0,0.1);
}

/* Requirements */

.requirements {
    background-color: var(--pearl);
    color: var(--charcoal);
    padding: 8em 0;
}

.requirements ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2em;
}

.requirements li {
    background-color: white;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0;
    transition: 0.3s;
    box-shadow:
    0 6px 4px 0 rgba(0,0,0,0.05),
    0 14px 12px 0 rgba(0,0,0,0.05);
}
.requirements li:before {
    content: url(../assets/check-icon.svg);
    width: auto;
    height: auto;
    padding-right: .5em;
}
.requirements li:hover {
    transform: translateY(-8px);
    box-shadow:
    0 6px 4px 0 rgba(0,0,0,0.05),
    0 14px 12px 0 rgba(0,0,0,0.05),
    0 24px 20px 0 rgba(0,0,0,0.05),
    0 48px 32px -8px rgba(0,0,0,0.05),
    0 88px 64px -16px rgba(0,0,0,0.05);
}