/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;900&display=swap");

/* Variables */

:root {
  --gold: #f6a600;
  --tiger: #f65e00;
  --ruby: #f60065;
  --eggplant: #5b3985;
  --charcoal: #343a40;
  --anchor: #73868c;
  --pewter: #b7c5c4;
  --pearl: #eceeed;
}

/* Wordpress */

.wp-post-image {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
  display: block;
  border-radius: 1em;
  margin-bottom: 1em;
}
.post-thumbnail {
  display: block;
  pointer-events: none;
}
.entry-header {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}
.entry-content {
  margin: 0;
}

/* General */

body {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--charcoal);
  overflow-x: hidden;
}
p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
a {
  color: var(--charcoal);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Button */

button {
  font-size: 1rem;
  font-weight: 900;
  color: var(--charcoal);
  padding: 1em 1.5em;
  border: none;
  background-color: var(--gold);
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0 var(--charcoal);
  transition: 0.3s;
}
button:hover {
  transform: translate(-0.25em, -0.25em);
  box-shadow: 0.75em 0.75em 0 var(--charcoal);
}

/* Container */

.container {
  max-width: 1380px;
  margin: 0 auto;
}

/* Header */

.site-header {
  padding: 2em 0;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

/* Logo & Language */

.logo {
  display: block;
  width: 15em;
}
.language-select {
  display: none;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 20em;
  }
  .language-select {
    width: 20em;
    text-align: right;
  }
}

/* Menu */

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.menu-item {
  margin: 0 10px;
  text-transform: lowercase;
  font-weight: 900;
  text-align: center;
}
.menu-item:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0.5em;
  height: 0.5em;
  margin-top: 0.5em;
  border-radius: 0.5em;
  background-color: var(--gold);
  opacity: 0;
  transition: 0.3s;
}
.menu-item:hover:after {
  opacity: 1;
}

/* Text */

.text-highlight {
  color: var(--gold);
  font-weight: 900;
}
.text-underline {
  text-decoration: underline;
}
.text-block {
  max-width: 45em;
  /* max-width: 50em; */
}

/* Hero */

.hero {
  padding-bottom: 4em;
}
.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 2em;
}
.hero-content {
  max-width: 35em;
  padding-bottom: 2em;
}
.hero-content .hero-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
  text-transform: lowercase;
}
.hero-content .hero-description {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 2em;
}
.hero-image {
  position: absolute;
  z-index: -1;
}
.hero-image img {
  max-width: 100%;
  max-height: 100%;
}
/* .hero-image:before {
    content: url(../assets/play-icon.svg);
    width: 186px;
    height: 186px;
    top: 8em;
    left: 4em;
    position: absolute;
    transition: 0.3s;
}
.hero-image:hover:before {
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    to {
      transform: rotate(359deg);
    }
  }
  @keyframes rotate-rev {
    to {
      transform: rotate(-359deg);
    }
  } */
@media only screen and (min-width: 480px) {
  .hero-content .hero-title {
    font-size: 4rem;
  }
  .hero-content .hero-description {
    font-size: 1.5rem;
  }
  .hero-image {
    display: block;
    min-width: 35em;
    right: 6em;
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .hero-content .hero-title {
    font-size: 4.5rem;
  }
  .hero-content .hero-description {
    font-size: 1.75rem;
  }
  .hero-image {
    min-width: 45em;
    right: 8em;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-content .hero-title {
    font-size: 5.5rem;
  }
  .hero-content .hero-description {
    font-size: 2rem;
  }
  .hero-image {
    min-width: 50em;
    right: 0;
  }
}
/* Section */
.section-inner-full {
  display: block;
  padding: 2em;
}
.section-inner-half {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.section-inner-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2em;
}
@media only screen and (min-width: 960px) {
  .section-inner-half {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.section-title {
  font-size: 2.5rem;
  line-height: 1;
  /* text-transform: lowercase; */
  margin: 0;
}
.section-description {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 2em;
  max-width: 32em;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 4.5rem;
  }
  .section-description {
    font-size: 1.125rem;
  }
}

/* Intro */

.intro {
  color: white;
  background-color: var(--charcoal);
  padding: 4em 0;
}
.intro .intro-video {
  width: 100%;
  max-width: 45em;
  padding-bottom: 2em;
}
.intro video {
  max-width: 100%;
  border-radius: 1em;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1), 0 14px 12px 0 rgba(0, 0, 0, 0.1),
    0 24px 20px 0 rgba(0, 0, 0, 0.1), 0 48px 32px -8px rgba(0, 0, 0, 0.1),
    0 88px 64px -16px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 960px) {
  .intro {
    background-color: var(--charcoal);
    color: white;
    padding: 8em 0;
  }
  .intro .intro-video {
    padding-bottom: 0;
    transform: translateX(-120px) scale(1.25);
  }
  .intro video {
    min-width: 520px;
  }
}

/* Services */

.services {
  padding: 4em 0;
  background-color: var(--pearl);
}
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  margin-top: 4em;
}
@media only screen and (min-width: 768px) {
  .services {
    padding: 8em 0;
  }
  .services-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .services-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Card */

.card {
  padding: 4em;
  border-radius: 1.25em;
  background-color: white;
  transition: 0.3s;
  text-align: center;
}
.card:hover {
  transform: translateY(-8px);
  background-color: var(--charcoal);
  color: var(--gold);
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.15), 0 14px 12px 0 rgba(0, 0, 0, 0.15),
    0 24px 20px 0 rgba(0, 0, 0, 0.15), 0 48px 32px -8px rgba(0, 0, 0, 0.15),
    0 88px 64px -16px rgba(0, 0, 0, 0.15);
}
.card .entry-header {
  font-size: 1.25rem;
  line-height: 1.25;
  /* padding-bottom: 0.5em; */
}

/* About */

.about {
  color: white;
  background-color: var(--charcoal);
  padding: 4em 0;
}
.about .about-video {
  width: 100%;
  max-width: 45em;
  padding-bottom: 2em;
}
.about .about-video video {
  max-width: 100%;
  border-radius: 1em;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1), 0 14px 12px 0 rgba(0, 0, 0, 0.1),
    0 24px 20px 0 rgba(0, 0, 0, 0.1), 0 48px 32px -8px rgba(0, 0, 0, 0.1),
    0 88px 64px -16px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 960px) {
  .about {
    padding: 8em 0;
  }
  .about .text-block {
    order: 1;
    width: 100%;
  }
  .about .about-video {
    order: 2;
    padding-bottom: 0;
    transform: translateX(120px) scale(1.25);
  }
  .about video {
    min-width: 520px;
  }
}

/* Requirements */

.requirements {
  color: var(--charcoal);
  background-color: var(--pearl);
  padding: 4em 0;
}

.requirements ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

.requirements li {
  background-color: white;
  font-size: 1rem;
  font-weight: 900;
  padding: 1em;
  border-radius: 1em;
  margin: 1em 0;
  transition: 0.3s;
  /* box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05), 0 14px 12px 0 rgba(0, 0, 0, 0.05); */
}
.requirements li:before {
  content: url(../assets/check-icon.svg);
  width: auto;
  height: auto;
  padding-right: 0.5em;
  position: relative;
  top: 0.25em;
}
.requirements li:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.05), 0 14px 12px 0 rgba(0, 0, 0, 0.05),
    0 24px 20px 0 rgba(0, 0, 0, 0.05), 0 48px 32px -8px rgba(0, 0, 0, 0.05),
    0 88px 64px -16px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 960px) {
  .requirements {
    padding: 8em 0;
  }
  .requirements li {
    font-size: 1.5rem;
  }
  .requirements li:before {
    top: 0.15em;
  }
}

.contact {
  text-align: center;
  padding: 4em 0;
}
.contact .section-title {
  font-size: 4rem;
}
.contact p {
  font-size: 4rem;
}
.contact a {
  color: var(--gold);
  text-decoration: none;
}
.contact a:hover {
  text-decoration: underline;
}
/* Footer */

footer {
  background-color: var(--charcoal);
  color: var(--pearl);
}
footer a {
  color: var(--gold);
}
footer .logo {
  max-width: 100%;
}
.footer-content {
  display: flex;
  flex-direction: column;
  padding: 4em 2em;
}
.footer-legal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1em;
}
.footer-legal img {
  padding-top: 1em;
}
@media only screen and (min-width: 960px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-legal {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0;
  }
  .footer-legal a {
    margin-left: 0.4em;
  }
  .footer-legal img {
    padding-top: 0;
    margin-left: 0.8em;
  }
}
